@charset "utf-8";
/* CSS Document */

@import "PI/1/18.css";
@import "PI/1/17.css";
@import "PI/1/16.css";
@import "PI/1/15.css";
@import "PI/1/14.css";
@import "PI/1/13.css";
@import "PI/1/12.css";
@import "PI/1/11.css";

@import "PI/2/21.css";
@import "PI/2/22.css";
@import "PI/2/23.css";
@import "PI/2/24.css";
@import "PI/2/25.css";
@import "PI/2/26.css";
@import "PI/2/27.css";
@import "PI/2/28.css";

@import "PI/3/38.css";
@import "PI/3/37.css";
@import "PI/3/36.css";
@import "PI/3/35.css";
@import "PI/3/34.css";
@import "PI/3/33.css";
@import "PI/3/32.css";
@import "PI/3/31.css";

@import "PI/4/41.css";
@import "PI/4/42.css";
@import "PI/4/43.css";
@import "PI/4/44.css";
@import "PI/4/45.css";
@import "PI/4/46.css";
@import "PI/4/47.css";
@import "PI/4/48.css";

.PI_hover_btn {
	position: absolute;
	z-index: 40;
	background-color: #E9E9E9;
	opacity: 1;
	text-align: center;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

.PI_hover_btn:hover {
	background-color: #CCCCF1;
	opacity: 1;
}