@charset "utf-8";
/* CSS Document */

#tooth_21_btn {
	position: absolute;
	z-index: 40;
	left: 691.3px;
	top: 315px;
	width: 40.75px;
	height: 14.5px;
}

#tooth_line_21_b {
	position: absolute;
	z-index: 60;
	left: 703.45px;
	top: 488.55px;
}

#tooth_line_21_p {
	position: absolute;
	z-index: 60;
	left: 698.45px;
	top: 645.25px;
}