@charset "utf-8";
/* CSS Document */

#tooth_25_btn {
	position: absolute;
	z-index: 40;
	left: 864px;
	top: 315px;
	width: 38.75px;
	height: 14.5px;
}

#tooth_line_25_b {
	position: absolute;
	z-index: 60;
	left: 873.45px;
	top: 478.55px;
}

#tooth_line_25_p {
	position: absolute;
	z-index: 60;
	left: 869.95px;
	top: 645.25px;
}