@charset "utf-8";
/* CSS Document */

#tooth_26_btn {
	position: absolute;
	z-index: 40;
	left: 908px;
	top: 315px;
	width: 51.85px;
	height: 14.5px;
}

#tooth_line_26_b {
	position: absolute;
	z-index: 60;
	left: 931.45px;
	top: 478.55px;
}

#tooth_line_26_p {
	position: absolute;
	z-index: 60;
	left: 926.95px;
	top: 645.25px;
}