@charset "utf-8";
/* CSS Document */

#tooth_27_btn {
	position: absolute;
	z-index: 40;
	left: 964.5px;
	top: 315px;
	width: 49.75px;
	height: 14.5px;
}

#tooth_line_27_b {
	position: absolute;
	z-index: 60;
	left: 987.9px;
	top: 478.55px;
}

#tooth_line_27_p {
	position: absolute;
	z-index: 60;
	left: 983.4px;
	top: 645.25px;
}