@charset "utf-8";
/* CSS Document */

#tooth_28_btn {
	position: absolute;
	z-index: 40;
	left: 1019px;
	top: 315px;
	width: 50.25px;
	height: 14.5px;
}

#tooth_line_28_b {
	position: absolute;
	z-index: 60;
	left: 1044.4px;
	top: 478.55px;
}

#tooth_line_28_p {
	position: absolute;
	z-index: 60;
	left: 1039.9px;
	top: 645.25px;
}