@charset "utf-8";
/* CSS Document */

/* 13 bukkal */

#mg_13_db_txt {
	left: 536.85px;
}

#mg_13_b_txt {
	left: 551.2px;
}

#mg_13_mb_txt {
	left: 565.2px;
}

/* 13 palatinal */

#mg_13_dp_txt {
	left: 536.85px;
}

#mg_13_p_txt {
	left: 551.2px;
}

#mg_13_mp_txt {
	left: 565.2px;
}