@charset "utf-8";
/* CSS Document */

/* 17 bukkal */

#mg_17_db_txt {
	left: 341.85px;
}

#mg_17_b_txt {
	left: 359.3px;
}

#mg_17_mb_txt {
	left: 377.9px;
}

/* 17 palatinal */

#mg_17_dp_txt {
	left: 341.85px;
}

#mg_17_p_txt {
	left: 359.3px;
}

#mg_17_mp_txt {
	left: 377.9px;
}