@charset "utf-8";
/* CSS Document */

/* 18 bukkal */

#mg_18_db_txt {
	left: 286.95px;
}

#mg_18_b_txt {
	left: 304.4px;
}

#mg_18_mb_txt {
	left: 323px;
}

/* 18 palatinal */

#mg_18_dp_txt {
	left: 286.95px;
}

#mg_18_p_txt {
	left: 304.4px;
}

#mg_18_mp_txt {
	left: 323px;
}