@charset "utf-8";
/* CSS Document */

#tooth_41_btn {
	position: absolute;
	z-index: 40;
	left: 638.45px;
	top: 1561.5px;
	width: 32.25px;
	height: 14.5px;
}

#tooth_line_41_l {
	position: absolute;
	z-index: 60;
	left: 643.15px;
	top: 1092.1px;
}

#tooth_line_41_b {
	position: absolute;
	z-index: 60;
	left: 644.15px;
	top: 1257.55px;
}