@charset "utf-8";
/* CSS Document */

#tooth_42_btn {
	position: absolute;
	z-index: 40;
	left: 597.5px;
	top: 1561.5px;
	width: 34.25px;
	height: 14.5px;
}

#tooth_line_42_l {
	position: absolute;
	z-index: 60;
	left: 610.15px;
	top: 1092.1px;
}

#tooth_line_42_b {
	position: absolute;
	z-index: 60;
	left: 611.65px;
	top: 1257.55px;
}