@charset "utf-8";
/* CSS Document */

#tooth_46_btn {
	position: absolute;
	z-index: 40;
	left: 415.8px;
	top: 1561.5px;
	width: 51.85px;
	height: 14.5px;
}

#tooth_line_46_l {
	position: absolute;
	z-index: 60;
	left: 437.15px;
	top: 1092.1px;
}

#tooth_line_46_b {
	position: absolute;
	z-index: 60;
	left: 434.65px;
	top: 1257.55px;
}