@charset "utf-8";
/* CSS Document */

#tooth_47_btn {
	position: absolute;
	z-index: 40;
	left: 354.5px;
	top: 1561.5px;
	width: 54.75px;
	height: 14.5px;
}

#tooth_line_47_l {
	position: absolute;
	z-index: 60;
	left: 378.65px;
	top: 1092.1px;
}

#tooth_line_47_b {
	position: absolute;
	z-index: 60;
	left: 372.65px;
	top: 1257.55px;
}