@charset "utf-8";
/* CSS Document */

/* 44 */

#implantat_44_btn {
	position: absolute;
	z-index: 40;
	left: 517px;
    top: 1521.6px;
	width: 33.25px;
	height: 14.5px;
	margin: 50 auto;
	padding: 0px;
	background-color: #ECECEC;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

#implantat_44_btn:hover {
	background-color: #D3DFE7;
}

#implantat_44_tab {
	position: relative;
	z-index: 50;
    top: 0.2px;
	line-height: 14.5px;
	text-align: center;
	pointer-events: none;
}

#implantat_44_b_image {
	position: absolute;
	z-index: 20;
	left: 523px;
	top: 1295px;
	width: 37px;
	height: 131px;
	pointer-events: none;
}

#implantat_44_l_image {
	position: absolute;
	z-index: 20;
	left: 523px;
	top: 1073px;
	width: 40px;
	height: 133px;
	pointer-events: none;
}