@charset "utf-8";
/* CSS Document */

/* 46 */

#implantat_46_btn {
	position: absolute;
	z-index: 40;
	left: 415.8px;
    top: 1521.6px;
	width: 51.85px;
	height: 14.5px;
	margin: 50 auto;
	padding: 0px;
	background-color: #ECECEC;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

#implantat_46_btn:hover {
	background-color: #D3DFE7;
}

#implantat_46_tab {
	position: relative;
	z-index: 50;
    top: 0.2px;
	line-height: 14.5px;
	text-align: center;
	pointer-events: none;
}

#implantat_46_b_image {
	position: absolute;
	z-index: 20;
	left: 413px;
	top: 1295px;
	width: 67px;
	height: 131px;
	pointer-events: none;
}

#implantat_46_l_image {
	position: absolute;
	z-index: 20;
	left: 418px;
	top: 1073px;
	width: 62px;
	height: 133px;
	pointer-events: none;
}