@charset "utf-8";
/* CSS Document */

/* Furkation 16 b */

#furkation_16_b_btn {
	position: absolute;
	z-index: 40;
	width: 51.85px;
	height: 14.5px;
	left: 396.85px;
	top: 375px;
}

#furkation_1_16_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_16_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_16_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_16_b {
	position: absolute;
	z-index: 50;
	top: 555.5px;
	left: 415.5px;
	pointer-events: none;
}

#furkation_2_16_b {
	position: absolute;
	z-index: 50;
	top: 555.5px;
	left: 415.5px;
	pointer-events: none;
}

#furkation_3_16_b {
	position: absolute;
	z-index: 50;
	top: 555.5px;
	left: 415.5px;
	pointer-events: none;
}

/* Furkation 16 dp */

#furkation_16_dp_btn {
	position: absolute;
	z-index: 40;
	width: 22.25px;
	height: 14.5px;
	left: 397.5px;
	top: 888.95px;
}

#furkation_1_16_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_16_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_16_dp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_16_dp {
	position: absolute;
	z-index: 50;
	top: 720.5px;
	left: 397.5px;
	pointer-events: none;
}

#furkation_2_16_dp {
	position: absolute;
	z-index: 50;
	top: 720.5px;
	left: 397.5px;
	pointer-events: none;
}

#furkation_3_16_dp {
	position: absolute;
	z-index: 50;
	top: 720.5px;
	left: 397.5px;
	pointer-events: none;
}

/* Furkation 16 mp */

#furkation_16_mp_btn {
	position: absolute;
	z-index: 40;
	width: 22.25px;
	height: 14.5px;
	left: 426.5px;
	top: 888.95px;
}

#furkation_1_16_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_16_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_16_mp_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_16_mp {
	position: absolute;
	z-index: 50;
	top: 707.5px;
	left: 431.5px;
	pointer-events: none;
}

#furkation_2_16_mp {
	position: absolute;
	z-index: 50;
	top: 707.5px;
	left: 431.5px;
	pointer-events: none;
}

#furkation_3_16_mp {
	position: absolute;
	z-index: 50;
	top: 707.5px;
	left: 431.5px;
	pointer-events: none;
}