@charset "utf-8";
/* CSS Document */

/* Furkation 36 b */

#furkation_36_b_btn {
	position: absolute;
	z-index: 40;
	width: 51.85px;
	height: 14.5px;
	left: 889px;
	top: 1501.8px;
}

#furkation_1_36_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_36_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_36_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_36_b {
	position: absolute;
	z-index: 50;
	top: 1323.5px;
	left: 900.5px;
	pointer-events: none;
}

#furkation_2_36_b {
	position: absolute;
	z-index: 50;
	top: 1323.5px;
	left: 900.5px;
	pointer-events: none;
}

#furkation_3_36_b {
	position: absolute;
	z-index: 50;
	top: 1323.5px;
	left: 900.5px;
	pointer-events: none;
}

/* Furkation 36 l */

#furkation_36_l_btn {
	position: absolute;
	z-index: 40;
	width: 51.85px;
	height: 14.5px;
	left: 889px;
	top: 988.5px;
}

#furkation_1_36_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_36_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_36_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_36_l {
	position: absolute;
	z-index: 50;
	top: 1168.5px;
	left: 906px;
	pointer-events: none;
}

#furkation_2_36_l {
	position: absolute;
	z-index: 50;
	top: 1168.5px;
	left: 906px;
	pointer-events: none;
}

#furkation_3_36_l {
	position: absolute;
	z-index: 50;
	top: 1168.5px;
	left: 906px;
	pointer-events: none;
}