@charset "utf-8";
/* CSS Document */

/* Furkation 48 b */

#furkation_48_b_btn {
	position: absolute;
	z-index: 40;
	width: 55.25px;
	height: 14.5px;
	left: 292px;
	top: 1501.8px;
}

#furkation_1_48_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_48_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_48_b_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_48_b {
	position: absolute;
	z-index: 50;
	top: 1328.5px;
	left: 308.5px;
	pointer-events: none;
}

#furkation_2_48_b {
	position: absolute;
	z-index: 50;
	top: 1328.5px;
	left: 308.5px;
	pointer-events: none;
}

#furkation_3_48_b {
	position: absolute;
	z-index: 50;
	top: 1328.5px;
	left: 308.5px;
	pointer-events: none;
}

/* Furkation 48 l */

#furkation_48_l_btn {
	position: absolute;
	z-index: 40;
	width: 55.25px;
	height: 14.5px;
	left: 292px;
	top: 988.5px;
}

#furkation_1_48_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_2_48_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_3_48_l_tab {
	position: relative;
	z-index: 50;
	top: -0.2px;
	margin: auto;
	pointer-events: none;
}

#furkation_1_48_l {
	position: absolute;
	z-index: 50;
	top: 1160.5px;
	left: 310.5px;
	pointer-events: none;
}

#furkation_2_48_l {
	position: absolute;
	z-index: 50;
	top: 1160.5px;
	left: 310.5px;
	pointer-events: none;
}

#furkation_3_48_l {
	position: absolute;
	z-index: 50;
	top: 1160.5px;
	left: 310.5px;
	pointer-events: none;
}