@charset "utf-8";
/* CSS Document */

/* 45 bukkal */

#st_45_db_txt {
	left: 472.2px;
}

#st_45_b_txt {
	left: 484.75px;
}

#st_45_mb_txt {
	left: 497.65px;
}

/* 45 Lingual */

#st_45_dl_txt {
	left: 472.2px;
}

#st_45_l_txt {
	left: 484.75px;
}

#st_45_ml_txt {
	left: 497.65px;
}