@charset "utf-8";
/* CSS Document */

/* 48 bukkal */

#st_48_db_txt {
	left: 292.45px;
}

#st_48_b_txt {
	left: 309.9px;
}

#st_48_mb_txt {
	left: 328.5px;
}

/* 48 Lingual */

#st_48_dl_txt {
	left: 292.45px;
}

#st_48_l_txt {
	left: 309.9px;
}

#st_48_ml_txt {
	left: 328.5px;
}