@charset "utf-8";
/* CSS Document */

/* 24 bukkal */

#mg_24_db_txt {
	left: 846.6px;
}

#mg_24_b_txt {
	left: 832.25px;
}

#mg_24_mb_txt {
	left: 818.35px;
}

/* 24 palatinal */

#mg_24_dp_txt {
	left: 846.6px;
}

#mg_24_p_txt {
	left: 832.25px;
}

#mg_24_mp_txt {
	left: 818.35px;
}