@charset "utf-8";
/* CSS Document */

/* 27 bukkal */

#mg_27_db_txt {
	left: 999.7px;
}

#mg_27_b_txt {
	left: 982.2px;
}

#mg_27_mb_txt {
	left: 964.15px;
}

/* 27 palatinal */

#mg_27_dp_txt {
	left: 999.7px;
}

#mg_27_p_txt {
	left: 982.2px;
}

#mg_27_mp_txt {
	left: 964.15px;
}