@charset "utf-8";
/* CSS Document */

/* 28 bukkal */

#mg_28_db_txt {
	left: 1054.4px;
}

#mg_28_b_txt {
	left: 1037.2px;
}

#mg_28_mb_txt {
	left: 1018.75px;
}

/* 28 palatinal */

#mg_28_dp_txt {
	left: 1054.4px;
}

#mg_28_p_txt {
	left: 1037.2px;
}

#mg_28_mp_txt {
	left: 1018.75px;
}