@charset "utf-8";
/* CSS Document */

#tooth_34_btn {
	position: absolute;
	z-index: 40;
	left: 806.5px;
	top: 1561.5px;
	width: 33.25px;
	height: 14.5px;
}

#tooth_line_34_l {
	position: absolute;
	z-index: 60;
	left: 802.65px;
	top: 1092.1px;
}

#tooth_line_34_b {
	position: absolute;
	z-index: 60;
	left: 805.15px;
	top: 1257.55px;
}