@charset "utf-8";
/* CSS Document */

#tooth_36_btn {
	position: absolute;
	z-index: 40;
	left: 889px;
	top: 1561.5px;
	width: 51.85px;
	height: 14.5px;
}

#tooth_line_36_l {
	position: absolute;
	z-index: 60;
	left: 905.65px;
	top: 1092.1px;
}

#tooth_line_36_b {
	position: absolute;
	z-index: 60;
	left: 901.15px;
	top: 1257.55px;
}