@charset "utf-8";
/* CSS Document */

#tooth_38_btn {
	position: absolute;
	z-index: 40;
	left: 1009px;
	top: 1561.5px;
	width: 55.25px;
	height: 14.5px;
}

#tooth_line_38_l {
	position: absolute;
	z-index: 60;
	left: 1030.6px;
	top: 1092.1px;
}

#tooth_line_38_b {
	position: absolute;
	z-index: 60;
	left: 1035.1px;
	top: 1257.55px;
}