@charset "utf-8";
/* CSS Document */

/* 26 bukkal */

#BOP_26_db_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 943.5px;
	top: 395px;
}

#BOP_26_b_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 926.25px;
	top: 395px;
}

#BOP_26_mb_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 908.95px;
	top: 395px;
}

#BOP_26_db_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_26_b_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_26_mb_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

/* 26 palatinal */

#BOP_26_dp_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 943.5px;
	top: 869.25px;
}

#BOP_26_p_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 926.25px;
	top: 869.25px;
}

#BOP_26_mp_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 908.95px;
	top: 869.25px;
}

#BOP_26_dp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_26_p_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_26_mp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}