@charset "utf-8";
/* CSS Document */

/* 28 bukkal */

#BOP_28_db_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1054.6px;
	top: 395px;
}

#BOP_28_b_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1037.35px;
	top: 395px;
}

#BOP_28_mb_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1020.05px;
	top: 395px;
}

#BOP_28_db_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_28_b_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_28_mb_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

/* 28 palatinal */

#BOP_28_dp_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1054.6px;
	top: 869.25px;
}

#BOP_28_p_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1037.35px;
	top: 869.25px;
}

#BOP_28_mp_btn {
	position: absolute;
	z-index: 40;
	width: 13.3px;
	height: 13.95px;
	left: 1020.05px;
	top: 869.25px;
}

#BOP_28_dp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_28_p_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_28_mp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}