@charset "utf-8";
/* CSS Document */

/* 11 bukkal */

#BOP_11_db_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 625.95px;
	top: 395px;
}

#BOP_11_b_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 639.45px;
	top: 395px;
}

#BOP_11_mb_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 653.95px;
	top: 395px;
}

#BOP_11_db_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_11_b_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_11_mb_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

/* 11 palatinal */

#BOP_11_dp_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 625.95px;
	top: 869.25px;
}

#BOP_11_p_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 639.45px;
	top: 869.25px;
}

#BOP_11_mp_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 653.95px;
	top: 869.25px;
}

#BOP_11_dp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_11_p_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_11_mp_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}