@charset "utf-8";
/* CSS Document */

/* 11 bukkal */

#st_11_db_txt {
	left: 623.35px;
}

#st_11_b_txt {
	left: 637.6px;
}

#st_11_mb_txt {
	left: 651.6px;
}

/* 11 palatinal */

#st_11_dp_txt {
	left: 623.35px;
}

#st_11_p_txt {
	left: 637.6px;
}

#st_11_mp_txt {
	left: 651.6px;
}