@charset "utf-8";
/* CSS Document */

/* 13 bukkal */

#st_13_db_txt {
	left: 536.85px;
}

#st_13_b_txt {
	left: 551.2px;
}

#st_13_mb_txt {
	left: 565.2px;
}

/* 13 palatinal */

#st_13_dp_txt {
	left: 536.85px;
}

#st_13_p_txt {
	left: 551.2px;
}

#st_13_mp_txt {
	left: 565.2px;
}