@charset "utf-8";
/* CSS Document */

/* 14 bukkal */

#st_14_db_txt {
	left: 494.85px;
}

#st_14_b_txt {
	left: 509.2px;
}

#st_14_mb_txt {
	left: 523.2px;
}

/* 14 palatinal */

#st_14_dp_txt {
	left: 494.85px;
}

#st_14_p_txt {
	left: 509.2px;
}

#st_14_mp_txt {
	left: 523.2px;
}