@charset "utf-8";
/* CSS Document */

/* 15 bukkal */

#st_15_db_txt {
	left: 451.2px;
}

#st_15_b_txt {
	left: 466.25px;
}

#st_15_mb_txt {
	left: 481.15px;
}

/* 15 palatinal */

#st_15_dp_txt {
	left: 451.2px;
}

#st_15_p_txt {
	left: 466.25px;
}

#st_15_mp_txt {
	left: 481.15px;
}