@charset "utf-8";
/* CSS Document */

/* 25 */

#implantat_25_btn {
	position: absolute;
	z-index: 40;
	left: 864px;
	top: 355px;
	width: 38.75px;
	height: 14.5px;
	margin: 50 auto;
	padding: 0px;
	background-color: #ECECEC;
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */
	cursor: pointer;
}

#implantat_25_btn:hover {
	background-color: #D3DFE7;
}

#implantat_25_tab {
	position: relative;
	z-index: 50;
    top: 0.2px;
	line-height: 14.5px;
	text-align: center;
	pointer-events: none;
}

#implantat_25_b_image {
	position: absolute;
	z-index: 20;
	left: 863px;
	top: 466px;
	width: 40px;
	height: 137px;
	pointer-events: none;
}

#implantat_25_p_image {
	position: absolute;
	z-index: 20;
	left: 863px;
	top: 687px;
	width: 40px;
	height: 137px;
	pointer-events: none;
}