@charset "utf-8";
/* CSS Document */

/* 42 bukkal */

#mg_42_db_txt {
	left: 594.85px;
}

#mg_42_b_txt {
	left: 607.7px;
}

#mg_42_mb_txt {
	left: 620.2px;
}

/* 42 Lingual */

#mg_42_dl_txt {
	left: 594.85px;
}

#mg_42_l_txt {
	left: 607.7px;
}

#mg_42_ml_txt {
	left: 620.2px;
}