@charset "utf-8";
/* CSS Document */

/* 43 bukkal */

#mg_43_db_txt {
	left: 553.85px;
}

#mg_43_b_txt {
	left: 566.2px;
}

#mg_43_mb_txt {
	left: 578.7px;
}

/* 43 Lingual */

#mg_43_dl_txt {
	left: 553.85px;
}

#mg_43_l_txt {
	left: 566.2px;
}

#mg_43_ml_txt {
	left: 578.7px;
}