@charset "utf-8";
/* CSS Document */

/* 44 bukkal */

#mg_44_db_txt {
	left: 512.85px;
}

#mg_44_b_txt {
	left: 525.7px;
}

#mg_44_mb_txt {
	left: 538.2px;
}

/* 44 Lingual */

#mg_44_dl_txt {
	left: 512.85px;
}

#mg_44_l_txt {
	left: 525.7px;
}

#mg_44_ml_txt {
	left: 538.2px;
}