@charset "utf-8";
/* CSS Document */

/* 46 bukkal */

#mg_46_db_txt {
	left: 416.35px;
}

#mg_46_b_txt {
	left: 434.05px;
}

#mg_46_mb_txt {
	left: 452.15px;
}

/* 46 Lingual */

#mg_46_dl_txt {
	left: 416.35px;
}

#mg_46_l_txt {
	left: 434.05px;
}

#mg_46_ml_txt {
	left: 452.15px;
}