@charset "utf-8";
/* CSS Document */

/* 21 bukkal */

#st_21_db_txt {
	left: 718.2px;
}

#st_21_b_txt {
	left: 703.85px;
}

#st_21_mb_txt {
	left: 690.05px;
}

/* 21 palatinal */

#st_21_dp_txt {
	left: 718.2px;
}

#st_21_p_txt {
	left: 703.85px;
}

#st_21_mp_txt {
	left: 690.05px;
}