@charset "utf-8";
/* CSS Document */

/* 23 bukkal */

#st_23_db_txt {
	left: 804.6px;
}

#st_23_b_txt {
	left: 790.25px;
}

#st_23_mb_txt {
	left: 776.45px;
}

/* 23 palatinal */

#st_23_dp_txt {
	left: 804.6px;
}

#st_23_p_txt {
	left: 790.25px;
}

#st_23_mp_txt {
	left: 776.45px;
}