@charset "utf-8";
/* CSS Document */

/* 25 bukkal */

#st_25_db_txt {
	left: 890.25px;
}

#st_25_b_txt {
	left: 875.35px;
}

#st_25_mb_txt {
	left: 860.4px;
}

/* 25 palatinal */

#st_25_dp_txt {
	left: 890.25px;
}

#st_25_p_txt {
	left: 875.35px;
}

#st_25_mp_txt {
	left: 860.4px;
}