@charset "utf-8";
/* CSS Document */

/* 26 bukkal */

#st_26_db_txt {
	left: 944.2px;
}

#st_26_b_txt {
	left: 926.4px;
}

#st_26_mb_txt {
	left: 908.4px;
}

/* 26 palatinal */

#st_26_dp_txt {
	left: 944.2px;
}

#st_26_p_txt {
	left: 926.4px;
}

#st_26_mp_txt {
	left: 908.4px;
}