@charset "utf-8";
/* CSS Document */

/* 33 bukkal */

#BOP_33_db_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 790.7px;
	top: 1482px;
}

#BOP_33_b_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 777.55px;
	top: 1482px;
}

#BOP_33_mb_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 764.8px;
	top: 1482px;
}

#BOP_33_db_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_33_b_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_33_mb_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

/* 33 lingual */

#BOP_33_dl_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 790.7px;
	top: 1009px;
}

#BOP_33_l_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 777.55px;
	top: 1009px;
}

#BOP_33_ml_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 764.8px;
	top: 1009px;
}

#BOP_33_dl_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_33_l_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#BOP_33_ml_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}