@charset "utf-8";
/* CSS Document */

/* 31 bukkal */

#st_31_db_txt {
	left: 707.7px;
}

#st_31_b_txt {
	left: 694.85px;
}

#st_31_mb_txt {
	left: 682.05px;
}

/* 31 Lingual */

#st_31_dl_txt {
	left: 707.7px;
}

#st_31_l_txt {
	left: 694.85px;
}

#st_31_ml_txt {
	left: 682.05px;
}