@charset "utf-8";
/* CSS Document */

/* 32 bukkal */

#st_32_db_txt {
	left: 748.1px;
}

#st_32_b_txt {
	left: 734.75px;
}

#st_32_mb_txt {
	left: 721.95px;
}

/* 32 Lingual */

#st_32_dl_txt {
	left: 748.1px;
}

#st_32_l_txt {
	left: 734.75px;
}

#st_32_ml_txt {
	left: 721.95px;
}