@charset "utf-8";
/* CSS Document */

/* 33 bukkal */

#st_33_db_txt {
	left: 788.1px;
}

#st_33_b_txt {
	left: 775.75px;
}

#st_33_mb_txt {
	left: 762.95px;
}

/* 33 Lingual */

#st_33_dl_txt {
	left: 788.1px;
}

#st_33_l_txt {
	left: 775.75px;
}

#st_33_ml_txt {
	left: 762.95px;
}