@charset "utf-8";
/* CSS Document */

/* 34 bukkal */

#st_34_db_txt {
	left: 829.6px;
}

#st_34_b_txt {
	left: 816.25px;
}

#st_34_mb_txt {
	left: 803.35px;
}

/* 34 Lingual */

#st_34_dl_txt {
	left: 829.6px;
}

#st_34_l_txt {
	left: 816.25px;
}

#st_34_ml_txt {
	left: 803.35px;
}