@charset "utf-8";
/* CSS Document */

/* 35 bukkal */

#st_35_db_txt {
	left: 869.25px;
}

#st_35_b_txt {
	left: 856.85px;
}

#st_35_mb_txt {
	left: 843.9px;
}

/* 35 Lingual */

#st_35_dl_txt {
	left: 869.25px;
}

#st_35_l_txt {
	left: 856.85px;
}

#st_35_ml_txt {
	left: 843.9px;
}