@charset "utf-8";
/* CSS Document */

/* 36 bukkal */

#st_36_db_txt {
	left: 925.2px;
}

#st_36_b_txt {
	left: 907.4px;
}

#st_36_mb_txt {
	left: 889.4px;
}

/* 36 Lingual */

#st_36_dl_txt {
	left: 925.2px;
}

#st_36_l_txt {
	left: 907.4px;
}

#st_36_ml_txt {
	left: 889.4px;
}