@charset "utf-8";
/* CSS Document */

/* 31 bukkal */

#mg_31_db_txt {
	left: 707.7px;
}

#mg_31_b_txt {
	left: 694.85px;
}

#mg_31_mb_txt {
	left: 682.05px;
}

/* 31 Lingual */

#mg_31_dl_txt {
	left: 707.7px;
}

#mg_31_l_txt {
	left: 694.85px;
}

#mg_31_ml_txt {
	left: 682.05px;
}