@charset "utf-8";
/* CSS Document */

/* 33 bukkal */

#mg_33_db_txt {
	left: 788.1px;
}

#mg_33_b_txt {
	left: 775.75px;
}

#mg_33_mb_txt {
	left: 762.95px;
}

/* 33 Lingual */

#mg_33_dl_txt {
	left: 788.1px;
}

#mg_33_l_txt {
	left: 775.75px;
}

#mg_33_ml_txt {
	left: 762.95px;
}