@charset "utf-8";
/* CSS Document */

/* 36 bukkal */

#mg_36_db_txt {
	left: 925.2px;
}

#mg_36_b_txt {
	left: 907.4px;
}

#mg_36_mb_txt {
	left: 889.4px;
}

/* 36 Lingual */

#mg_36_dl_txt {
	left: 925.2px;
}

#mg_36_l_txt {
	left: 907.4px;
}

#mg_36_ml_txt {
	left: 889.4px;
}