@charset "utf-8";
/* CSS Document */

/* 37 bukkal */

#mg_37_db_txt {
	left: 985.7px;
}

#mg_37_b_txt {
	left: 968.2px;
}

#mg_37_mb_txt {
	left: 950.15px;
}

/* 37 Lingual */

#mg_37_dl_txt {
	left: 985.7px;
}

#mg_37_l_txt {
	left: 968.2px;
}

#mg_37_ml_txt {
	left: 950.15px;
}