@charset "utf-8";
/* CSS Document */

/* 38 bukkal */

#mg_38_db_txt {
	left: 1047.4px;
}

#mg_38_b_txt {
	left: 1030.2px;
}

#mg_38_mb_txt {
	left: 1011.75px;
}

/* 38 Lingual */

#mg_38_dl_txt {
	left: 1047.4px;
}

#mg_38_l_txt {
	left: 1030.2px;
}

#mg_38_ml_txt {
	left: 1011.75px;
}