@charset "utf-8";
/* CSS Document */

/* 45 bukkal */

#PI_45_db_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 473.6px;
	top: 1462.1px;
}

#PI_45_b_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 486.9px;
	top: 1462.1px;
}

#PI_45_mb_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 500.25px;
	top: 1462.1px;
}

#PI_45_db_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#PI_45_b_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#PI_45_mb_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

/* 45 lingual */

#PI_45_dl_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 473.6px;
	top: 1028.75px;
}

#PI_45_l_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 486.9px;
	top: 1028.75px;
}

#PI_45_ml_btn {
	position: absolute;
	z-index: 40;
	width: 10.25px;
	height: 13.95px;
	left: 500.25px;
	top: 1028.75px;
}

#PI_45_dl_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#PI_45_l_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}

#PI_45_ml_rectangle {
	position: relative;
	top: 0px;
	line-height: 13.95px; 
	z-index: 30;
	margin: auto;
	text-align: center;
	pointer-events: none;
}