@charset "utf-8";
/* CSS Document */

#tooth_12_btn {
	position: absolute;
	z-index: 40;
	left: 582.5px;
	top: 315px;
	width: 37.25px;
	height: 14.5px;
}

#tooth_line_12_b {
	position: absolute;
	z-index: 60;
	left: 597.95px;
	top: 481.55px;
}

#tooth_line_12_p {
	position: absolute;
	z-index: 60;
	left: 589.45px;
	top: 645.25px;
}