@charset "utf-8";
/* CSS Document */

#tooth_15_btn {
	position: absolute;
	z-index: 40;
	left: 454.30px;
	top: 315px;
	width: 38.75px;
	height: 14.5px;
}

#tooth_line_15_b {
	position: absolute;
	z-index: 60;
	left: 472.45px;
	top: 478.55px;
}

#tooth_line_15_p {
	position: absolute;
	z-index: 60;
	left: 464.95px;
	top: 645.25px;
}