@charset "utf-8";
/* CSS Document */

#tooth_18_btn {
	position: absolute;
	z-index: 40;
	left: 287.6px;
	top: 315px;
	width: 50.25px;
	height: 14.5px;
}

#tooth_line_18_b {
	position: absolute;
	z-index: 60;
	left: 304.95px;
	top: 478.55px;
}

#tooth_line_18_p {
	position: absolute;
	z-index: 60;
	left: 295.45px;
	top: 645.25px;
}